html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

.mat-step-header .mat-step-icon {
  display: none !important;
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

.custom-dialog-container .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
  padding: 0px;
}
