  <div class="current-view">
  {{currentView}}
  </div>
  <button mat-raised-button matBadge="{{alerts}}" [matBadgeHidden]="alerts < -1"  matBadgeColor="primary"
         [matMenuTriggerFor]="beforeMenu" class="notice-menu-button">
    <mat-icon class="notice-icon">notifications_none</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before" class="notice-menu">
      <app-notice [notice]="notice" (deleteNoticeSelector)="removeNotice($event)" *ngFor="let notice of notices"></app-notice>
      <div *ngIf="alerts===0" class="empty-notice-list">
        Här var det tomt
      </div>
  </mat-menu>




