.mat-app-background {
  background: #303F9F;
  height: 48px;
  width: auto;
  color: black;
  padding-left: 5px;
  display: flex;
}



.mat-app-menu {
  font-size: 48px;
  color: white;
}



.current-view {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 14px;
  left: 64px;
}

.notice-menu-button {
  width: 100px;
  height: 32px;
  background: #009688;
  position: absolute;
  right: 32px;
  border: none;
  top: 8px;
  display: flex;
}

::ng-deep.notice-menu {
  max-width: none !important;
}

.notice-menu {
  margin: 0;
  padding: 0;
  width: 100%;
}

.notice-icon {
  color: white;
}
