
<div class = "container">
<mat-grid-list cols = "4" rowHeight = "2:1" [gutterSize]="'100px'">
    <mat-grid-tile>
        <mat-card class = "patient-block">
            <mat-card-header>
                <mat-card-actions>
                    <button mat-raised-button class = "fullscreen-button" (click)="openDialog()">
                        <mat-icon class = "fullscreen-icon">fullscreen</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <mat-card-content>
                Test
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class = "add-button" (click)="openDialog()">
                    <mat-icon >add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>
















<app-patient-status-edit-view-e></app-patient-status-edit-view-e>
