

 .container{
    width: 2000px;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

mat-grid-list{
    width: 2000px;
    height: 1000px;
    background-attachment: fixed;

}
mat-grid-tile{
    width: 350px;
    height: 300px;
    cursor: pointer;
}

.patient-block{
    background-color: rgb(212, 212, 212);
    border-radius:10px;

}

mat-card-header{
    width: 350px;
    height: 40px;
    background-color: blue;
    padding-right: 80px;
    position:absolute;
    left:0;
    top:0;
    border-radius:10px;
}

.fullscreen-button{
    position: absolute;
    top:5px;
    right: -10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.fullscreen-icon{
    color: white;
}
mat-card-content{
    bottom: 300px;
    width: 400px;
    height: 200px;
    box-shadow: 2px 2px 2px rgb(199, 199, 199);
    border-radius:10px;
    background-color: white;
}

.add-button{
    left: 350px;
    background-color: rgb(141, 224, 185);
    box-shadow: 3px 3px 3px rgb(143, 143, 143);
}


mat-expansion-panel{
    color: transparent;
    width: 400px;
    height: 200px;
    top: 30px;
}

