<div class="row">
  <div class="col, vp-body">
    <mat-icon>accessibility</mat-icon>
  </div>
  <div class="col, vp-flex-container">
    <mat-form-field matTooltip="Blodsyrenivå">
      <mat-label>SpO2</mat-label>
      <input disabled matInput>
    </mat-form-field>
    <mat-form-field matTooltip="Andningsfrekvens">
      <mat-label>AF</mat-label>
      <input disabled matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Puls</mat-label>
      <input disabled matInput>
    </mat-form-field>
    <mat-form-field matTooltip="Blodtryck">
      <mat-label>BT</mat-label>
      <input disabled matInput>
    </mat-form-field>
    <mat-form-field matTooltip="Reactive Level Scale (medvetandegrad)">
      <mat-label>RLS</mat-label>
      <input disabled matInput>
    </mat-form-field>
    <mat-form-field matTooltip="Kroppstemperatur">
      <mat-label>Temp</mat-label>
      <input disabled matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Smärta</mat-label>
      <input disabled matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vikt</mat-label>
      <input disabled matInput>
    </mat-form-field>
  </div>
</div>
