mat-grid-list {
  width: 100px;
  height: 50px;
}

.row {
  display: flex
}

.col {
  flex: 50%;
}

mat-form-field {
  max-height: 24px;
  font-size: 8px;
  max-width: 40%;
}

.vp-flex-container {
  display: flex;
  flex-direction: column;
}

.vp-body {
  margin: auto;
}

