<div class="row">
  <div class="col, vp-body">
    <img class="body-image" src="assets/body.webp"/>
  </div>
  <div class="col, vp-flex-container">
    <mat-form-field matTooltip="Blodsyrenivå">
      <mat-label>SpO2</mat-label>
      <input [hidden] = "!spo2" disabled matInput [value]="spo2">
    </mat-form-field>
    <mat-form-field matTooltip="Andningsfrekvens">
      <mat-label>AF</mat-label>
      <input [hidden] = "!af" disabled matInput [value]="af">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Puls</mat-label>
      <input [hidden] = "!pulse" disabled matInput [value]="pulse">
    </mat-form-field>
    <mat-form-field matTooltip="Blodtryck">
      <mat-label>BT</mat-label>
      <input [hidden] = "!bt" disabled matInput [value]="bt">
    </mat-form-field>
    <mat-form-field matTooltip="Glasgow Coma Scale (medvetandegrad)">
      <mat-label>GCS</mat-label>
      <input [hidden] = "!conscious" disabled matInput [value]="conscious">
    </mat-form-field>
    <mat-form-field matTooltip="Kroppstemperatur">
      <mat-label>Temp</mat-label>
      <input [hidden] = "!temp" disabled matInput [value]="temp">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Smärta</mat-label>
      <input [hidden] = "!pain" disabled matInput [value]="pain">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vikt</mat-label>
      <input [hidden] = "!weight" disabled matInput [value]="weight">
    </mat-form-field>
  </div>
</div>
