<mat-card class="enhetsöversikt-meny" style="height: auto; width: 500px">
 <div>
   <mat-grid-list cols="4" rowHeight="50px">
     <mat-grid-tile rowspan="2">
       <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
       </button>
     </mat-grid-tile>
     <mat-grid-tile>
       <p>{{name}} {{personalId}}</p>
     </mat-grid-tile>
     <mat-grid-tile rowspan="2">
       <mat-icon
         [style.color]="priority">
         accessibility
       </mat-icon>
     </mat-grid-tile>
     <mat-grid-tile rowspan="2">
       <mat-icon>notification_important</mat-icon>
     </mat-grid-tile>

     <mat-grid-tile>
       <p>{{age}} år {{team}}</p>
     </mat-grid-tile>

     <mat-grid-tile colspan="4">
       <button mat-raised-button color="accent" style="width: 400px">Patientvy</button>
     </mat-grid-tile>




   </mat-grid-list>
 </div>
</mat-card>
