.header-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mat-app-background {
  background: #303F9F;
  height: 48px;
  width: auto;
  color: white;
  display: flex;
}

.content {
  margin-top: 48px;
}

.view-sidenav {
  height: 100%;
  width: auto;
}

.mat-app-menu {
  margin: auto;
  width: 100%;
  height: 100%;
}

.mat-app-menu-button {
  width: 72px;
  background: #303F9F;
  border: none;
  outline: none;
  height: 48px;
}

.menu-button {
  width: 48px;
  height: 48px;
  padding: 0;
}

.mat-app-menu-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  margin: auto;
}

.active-view {
  color: #009688;
  background: rgba(0,0,0,0.04);
}

.view-sidenav-list-item:hover {
  color: #303F9F;
}

.view-sidenav-list-item {
  font-size: 24px;
}
.mat-sidenav-container {
  height: 100%;
}
