<div class="mat-app-background">
  <button mat-button (click)="sidenav.toggle()" class="mat-app-menu-button">
    <mat-icon *ngIf="sidenav.opened" class="mat-app-menu">menu_opened</mat-icon>
    <mat-icon *ngIf="!sidenav.opened" class="mat-app-menu">menu</mat-icon>
  </button>
  <app-header></app-header>

</div>

<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav mode="over" class="view-sidenav">
    <mat-nav-list >
      <!--Add extra anchor-element with 0 height to avoid top element always being marked -->
      <a mat-list-item routerLink="/" style="height: 0;"></a>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="{{view.url}}" routerLinkActive="active-view" role="navigation" *ngFor="let view of views"
         class="view-sidenav-list-item">
        {{ view.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

