<mat-grid-list class="mat-grid-list" cols="12" rowHeight="1:1">
  <mat-grid-tile colspan="2">
    <app-visit-info-personal></app-visit-info-personal>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-visit-reason></app-visit-reason>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <app-visit-topical></app-visit-topical>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <app-visit-body></app-visit-body>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <app-visit-events></app-visit-events>
  </mat-grid-tile>
</mat-grid-list>
