.mat-card-title {
  text-align: center;
  font-size: medium;
}

.mat-card-content {
  font-size: small;
  margin-left: 16px;
  margin-right: 16px;
}

.mat-card-background {
  min-width: fit-content;
  background-color: transparent;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 0px;
}

.mat-checkbox {
  margin: 0 10px;
}

.mat-expansion-panel {
  border: none;
  max-width: fit-content;
  margin-bottom: 16px;
}

.mat-radio-test {
  margin-right: 16px;
  margin-bottom: 16px;
}

.mat-example-radio-group {
  display: flex;
  margin: 16px 0;
}

.add-button{
  left: 350px;
  background-color: rgb(141, 224, 185);
  box-shadow: 3px 3px 3px rgb(143, 143, 143);
}
