<mat-grid-list cols="6" rowHeight="2:.5" gutterSize="4px">

  <!--Row one-->

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>För- & efternamn</mat-label>
      <input matInput
             type="text"
             (input)="updateName($event)" >
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Personnummer/id</mat-label>
      <input matInput
             type="text"
             maxlength="12"
             (input)="updateSocialId($event)"
             placeholder="Ex. 19970530XXXX">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Ålder</mat-label>
      <input matInput
             type="number"
             (input)="updateAge($event)">
    </mat-form-field>
  </mat-grid-tile>

  <!-- Row two -->
  <mat-grid-tile colspan="2">
    <mat-button-toggle-group (change)="updateGender($event.value)">
      <mat-button-toggle value="Male" aria-label="Text align center">
        Man
      </mat-button-toggle>
      <mat-button-toggle value="Female" aria-label="Text align center">
        Kvinna
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Adress</mat-label>
      <input matInput (input)="updateAddress($event)">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-form-field appearance="outline">
      <mat-label>Postkod</mat-label>
      <input matInput (input)="updatePostcode($event)">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-form-field appearance="outline">
      <mat-label>Town</mat-label>
      <input matInput (input)="updateTown($event)">
    </mat-form-field>
  </mat-grid-tile>

  <!-- Row three -->

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Telefonnummer</mat-label>

      <input matInput type="tel" (input)="updatePhone($event)">
    </mat-form-field></mat-grid-tile>

  <mat-grid-tile colspan="4">
    <mat-form-field appearance="outline">
      <mat-label>Anhöriga</mat-label>
      <input matInput (input)="updateRelative($event)">
    </mat-form-field>
  </mat-grid-tile>

  <!--Row four-->

  <mat-grid-tile colspan="1">
    <mat-checkbox color="accent" (change)="updateIdChecked($event.checked)">ID-kontroll</mat-checkbox>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-checkbox color="accent" (change)="updateRemittance($event.checked)">Remiss</mat-checkbox>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput type="date">
    </mat-form-field>
  </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Ankomsttid</mat-label>
        <input matInput type="time">
      </mat-form-field>
    </mat-grid-tile>


<!--  Row five -->

  <mat-grid-tile colspan="2">
    <mat-radio-group>
      <mat-label>Transport</mat-label>
        <mat-radio-button value="1">Gående</mat-radio-button>
        <mat-radio-button value="2">Ambulans</mat-radio-button>
    </mat-radio-group>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-label>Tystnadsplikt</mat-label>
    <mat-radio-group>
      <mat-radio-button value="1">Ja</mat-radio-button>
      <mat-radio-button value="2">Nej</mat-radio-button>
    </mat-radio-group>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Mottagning</mat-label>
      <mat-select>
        <mat-option>Linköping</mat-option>
        <mat-option>Norrköping</mat-option>
        <mat-option>Motala</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

