<app-patient-status-summary-header [title]="header_title"></app-patient-status-summary-header>
<div mat-dialog-content class="mat-dialog-content">
  <div class="exponering-content">

    <div class="left-col">
      <mat-vertical-stepper class="mat-vertical-stepper" #matVerticalStepper>
        <mat-step label="A - Luftväg">
            ...
        </mat-step>
        <mat-step label="B - Andning">
          ...
        </mat-step>
        <mat-step label="C - Cirkulation">
          ...
        </mat-step>
        <mat-step label="D - Medvetandegrad">
          ...
        </mat-step>
        <mat-step label="E - Exponering">
          <app-patient-status-edit-view-e style="width: 100%" (commentChange)="onCommentChange($event)"></app-patient-status-edit-view-e>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div class="right-col">
      <app-patient-status-summary [comment]="comment" (closeDialogEvent)="closeDialog()"></app-patient-status-summary>
    </div>
  </div>
</div>
