.mat-card {
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px;
  height: auto;


}

.mat-card-background {
  background-color: white;
  border-radius: 0px;
  width: 480px;
}
.patient-header {
  border-radius: 0px;
  width: auto;

}
.mat-card-title {
  text-align: center;
  font-size: medium;
}
.mat-icon {
  font-size: 50px;
  padding-bottom: 10px;
}

.mat-raised-button {
  border-radius: 15px;
  width: 400px;
  font-size: x-large;
}

.mat-grid-tile {
  font-size: medium;

}
