<mat-toolbar color="primary">
  <div
    class="mat-toolbar-row">

      <button mat-icon-button routerLink="/oversikt">
        <mat-icon svgIcon="logo">
        </mat-icon></button>
          <button mat-raised-button color="accent" routerLink="/oversikt" > Enhetsversikt </button>
      <button mat-raised-button color="accent" routerLink="/patient"> Patientöversikt </button>
      <button mat-raised-button color="accent" routerLink="/sammanstallning"> Sammanställning </button>
    </div>



</mat-toolbar>
